<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='stylesheet' href='/stylesheets/custom.css' />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="mr-auto">
          <a class="navbar-brand" href="/"><%= title %></a>
          <span class="navbar-text"><small>Connected to</small> <%= id %></span>
        </div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="form-row">
            <input class="form-control-file" type="file" id="uploadFileControl" name="uploadFileControl">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </nav>
      <div class="row mt-3">
        <div id="hosted-files" class="col-md">
          <h3 class="ml-3">Hosted Files</h3>
          <ul class="list-group">
          <% for (var i = 0; i < pins.length; i++) {%>
            <li class="list-group-item">
              <% if (pins[i].name) {%>
                <p><%= pins[i].name %></p>
              <% } %>
              <p><em><%= pins[i].cid %></em></p>
              <a href="/download/<%= pins[i].cid %>?name=<%= pins[i].name %>">Download</a>
            </li>
          <% } %>
          </ul>
        </div>
        <div id="peer-nodes" class="col-md">
          <h3 class="ml-3">Peer Nodes</h3>
          <ul class="list-group">
          <% for (var i = 0; i < peers.length; i++) {%>
            <li class="list-group-item"><%= peers[i] %></li>
          <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
